@model IEnumerable<DAL.TypeOfEmployeeBLL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2 class="text-primary">Type Of Employee</h2>

<p>
    @*@Html.ActionLink("Create New", "Add", new { @class = "btn btn-primary"})*@
    <a href="@Url.Action("Add", "TypeOfEmployee")" class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.NameOfType)</th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NameOfType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Update", new { id = item.TypeID }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
